# ── Variables de entorno — NO subir este archivo a GitHub ──
# Agrégalo a .gitignore: echo ".env" >> .gitignore

# Cadena de conexión de MongoDB Atlas
# Formato: mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/
MONGODB_URI=mongodb+srv://adminBitacora:Bitacora2024@cluster0.euok3ob.mongodb.net/?retryWrites=true&w=majority

# Nombre de la base de datos
DB_NAME=bitacora

# Puerto del servidor (opcional, default 3000)
PORT=3000
